<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
  </head>
  <body>
    <form method="POST">
      <p>Number of questions: 
        <input type="text" name="numquestions" /></p>
      <p>Number of answers per question: 
        <input type="text" name="numanswers" /></p>
      <input type="submit" />
    </form>
  </body>
</html>
