<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
    <link rel="stylesheet" type="text/css" href="/obscure-audio.css" />
  </head>
  <body>
    <p>You have reached an invalid location.</p>
    <p>Please return to <a href="http://<%= @hp %>">the index</a></p>
  </body>
</html>
