<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
  </head>
  <body>
    <p>Thank you!</p>
    <p>Your answers have been added to <a href="http://<%= @hp %>/results/<%= @poll %>">the results</a> for this poll.</p>
  </body>
</html>
