<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator - ERROR!</title>
    <link rel="stylesheet" type="text/css" href="/obscure-audio.css" />
  </head>
  <body>
    
  </body>
</html>


<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator</title>
    <link rel="stylesheet" type="text/css" href="/obscure-audio.css" />
  </head>
	<body onload="initialQuestions();">
		<div id="content">
			<div id="sidebar">
				<div id="logo">
				</div>
				<div id="inputs">
					<form method="GET" action="/poll">
					<label>Enter your poll ID <br /> to take a poll:</label>
					<input type="text" name="poll">
					<input type="submit" class="subbtn">
					</form>
					<br />
					<form method="GET" action="/results">
					<label>Enter your poll ID <br /> view poll results:</label>
					<input type="text" name="poll">
					<input type="submit" class="subbtn">
					</form>
				</div>
			</div>
			<div id="main">
				<div id="mainh">
					<p>Create and share your own polls for free</p>
					<div id="createtab">
						<p>Error!</p>
					</div>
				</div>
				<div id="mainc">
					<p>There is no poll "<%= @poll %>" available, so there are no results.</p>
				</div>
				<div id="footer">
				</div>
			</div>
		</div>
	</body>
	</html>
