<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator - ERROR!</title>
    <link rel="stylesheet" type="text/css" href="/obscure-audio.css" />
  </head>
  <body>
    <p>There is no poll "<%= @poll %>" available, so there are no results.</p>
  </body>
</html>
