<!DOCTYPE html>
<html>
  <head>
    <title>Obscure Audio Internet Poll Creator - ERROR!</title>
  </head>
  <body>
    <p>There is no poll "<%= @poll %>" available, so there are no results.</p>
  </body>
</html>
